<div class="container-fluid mainDiv">
  <div class="row header">
    <div class="col-2 appIcon-div">
      <img class="appIcon" src="../assets/AppIcon.png" alt="Jio ANPR">
    </div>
    <div class="col white-div">
        <div class="col-3 loginUserInfo-div float-right">
          <span>Welcome Amit</span>
          <span><img class="loginUserImage" src="../assets/user.png" alt="User"></span>
          <span><img class="logOutIcon" src="../assets/Logout.png" alt="Logout" (click)="logoutClicked()"></span>
        </div>
    </div>

  </div>

  <div class="row content">
    <div class="col-2 sideMenu-div">
      <table class="table menu">
        <tbody>
          <tr *ngFor="let item of menuItems; index as i">
            <td class="menuItem" scope="row" id="{{i}}" (click)="menuItemSelected($event.currentTarget.id)">
              <img id="img{{i}}" class="menuIcon" src="{{item.src}}" alt="{{item.name}}">
              <span class="align-middle text-center">{{item.name}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="health-div">
        <span class="health-title">Health Monitor</span>
        <table class="table menu">
            <tbody>
              <tr *ngFor="let item of healthItems; index as i">
                <td class="healthItem" scope="row" id="{{i}}">
                  <span class="float-left">{{item}}</span>
                  <img id="img{{i}}" class="healthIcon float-right" [src]='getHealthIcon(i)' alt="">
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    <div class="col component-div">
      2 of 3 (wider)
    </div>
  </div>

</div>