.mainDiv {
    width: 100%;
    margin-left: 0px;
}
.row.header {
    height: 100px;
}
.row.content {
    height: 100%;
    margin-bottom: 10px;
}
.gray-div {
    background-color: #EFF2F7;
}
.white-div {
    background-color: #FFFFFF;
}

.appIcon {
    margin: 15px 15px 25px 15px;
}

.loginUserImage {
    background: yellow;
    margin-left: 15px;
    height: 30px;
    width: 30px;
}

.logOutIcon {
    padding-left: 15px;
}

.loginUserInfo-div {
    background-color: red;
    top: 30%;
}