<div class="container-fluid mainDiv">
  <div class="row header">
    <div class="col-2 gray-div">
      <img class="appIcon" src="../assets/AppIcon.png" alt="Jio ANPR">
    </div>
    <div class="col white-div">
      2 of 3 (wider)
    </div>
  </div>
  <div class="row content">
    <div class="col-2 blue-div">
      <table class="table menu">
        <tbody>
          <tr *ngFor="let item of dataSet; index as i">
            <td scope="row" id="{{i}}" (click)="menuItemSelected($event.currentTarget.id)">
              <img class="menuIcon" src="{{item.src}}" alt="{{item.name}}">
              <span class="align-middle text-center">{{item.name}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="health-div">
        <span class="align-middle text-center health-title">Health Monitor</span>
      </div>
    </div>
    <div class="col gray-div">
      2 of 3 (wider)
    </div>
  </div>
</div>