.mainDiv {
    color: greenyellow;
    margin-top: 25px;
    padding-right: 50px;
}

.categoryDiv {
    height: 113px;
    background: yellow;
}

.subCategoryHeader {
    height: 113px;
} 

.entryIconDiv {
    background: rgb(0, 193, 149);
}

.exitIconDiv {
    background: green;
    background: rgb(248, 83, 99);

}

.unregisteredIconDiv {
    background: green;
    background: rgb(0, 194, 207);

}

.alertIconDiv {
    background: green;
    background: rgb(64, 191, 232);

}

.categoryicon {
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}

.categoryTitleDiv {
    background:white;
    color: black;
}

.titleDiv {
    margin-top: 30px;
}

.detailDiv {
    margin-top: 15px;
}
/* .cameraDiv{

}*/

/* .listDiv {
    background: red;
}  */

.liveTextDiv {
    position: absolute;
    top: 60px;
    right: 16px;
    background: red;
    border-radius: 7px;
    width: 35px;
    height: 20px;
    text-align: center
}

.live {
    font-size: 15px;
    color: white;
}


.liveVehicleTextDiv {
    position: absolute;
    top: 195px;
    right: 16px;
    background: white;
    border-radius: 7px;
    width: 100px;
    height: 20px;
    text-align: center;
    
}

.livevehicleNo {
    font-size: 15px;
    color: grey
}

.liveVehicleTimeDiv {
    position: absolute;
    top: 280px;
    left: 16px; 
    background: white;
    border-radius: 7px;
    width: 70px;
    height: 20px;
    text-align: center;
}

.livevehicleTime {
    font-size: 15px;
    color: grey
}

  
.itemRow {
    background-color:white;
    border-top: 0px;
    border-radius: 10px;
    overflow: hidden;
}

.itemTitle {
    margin-left: 10px;
    font-size: 14px;
    color: #959595;
}

.itemImage {
    margin-left: 10px;
    height: 25px;
    background-color: gray;
}

.itemDetail {
    margin-left: 10px;
    font-size: 16px;
    color: #505050;
}

.dropDownInputBoxField {
    font-size: 15px;
    width: 100%;
    border: 0.5px;
    border-radius: 4px;
    color:#959595;
    background: none;
    border: 1px solid rgba(172, 172, 172, 1);
}

.liveVideoDiv {
    margin-top: 5px;
}

.liveImageIcon {
    height: 126px;
    width: 100%;
}

.liveVehicleImageDiv {
    margin-top: 5px;
    background:red;
    height: 126px;

}