<div class="container-fluid mainDiv">
  <div class="row categoryDiv">
    <div class="col-md-3" *ngFor="let item of headerItems ">
      <div class="row subCategoryHeader">

        <div class="col-md-4 categoryHolder">
          <img class="categoryicon" src="{{item.src}}" alt="">
        </div>

        <div class="col text-center categoryTitleDiv">
          <div class="titleDiv">
            <span>{{item.name}}</span>
            <br>
            <h3>{{item.value}}</h3>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row detailDiv">
    <div class="col-md-3 cameraDiv">
      <div class="row align-items-center">
        <div class="dropdown">
          <button class="btn btn-lg btn-primary dropdown-toggle dropDownInputBoxField" type="button"
            data-toggle="dropdown">
            {{ cameraPlaceHolder }}
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li *ngFor="let value of cameraList" (click)="changeCamera(value)">
              {{ value }}
            </li>
          </ul>
        </div>
      </div>

      <div class="row liveVideoDiv">
        <img class="liveImageIcon" src="../assets/car.jpg" alt="Live Video">
      </div>

      <div class="row liveVehicleImageDiv">
        <img class="liveImageIcon" src="../assets/car.jpg" alt="Live Image">
      </div>
    </div>

    <div class="col listDiv">
        <table class="table itemRow">
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <div>
                    <span class="itemTitle">LP Image & Text</span>
                    <div>
                      <img class="col-6 itemImage" src="../assets/Entry.png" alt="">
                      <span class="itemDetail">MH12DE1433</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    <span class="itemTitle">Date & Time</span>
                    <div>
                      <span class="itemDetail">1 April 2019, 9:30 AM</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    <span class="itemTitle">Entry/Exit</span>
                    <div>
                      <span class="itemDetail">Entry</span>
                    </div>
                  </div>
                </td>
              </tr>
              <tr style="margin-top: 50px;">
                <td>1</td>
                <td>
                  <div>
                    <span class="itemTitle">LP Image & Text</span>
                    <div>
                      <img class="col-6 itemImage" src="../assets/Entry.png" alt="">
                      <span class="itemDetail">MH12DE1433</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    <span class="itemTitle">Date & Time</span>
                    <div>
                      <span class="itemDetail">1 April 2019, 9:30 AM</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div>
                    <span class="itemTitle">Entry/Exit</span>
                    <div>
                      <span class="itemDetail">Entry</span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
